@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/liberation_serif/LiberationSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/liberation_serif/LiberationSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/liberation_serif/LiberationSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('../fonts/liberation_serif/LiberationSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Carlito';
    src: url('../fonts/Carlito/Carlito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Carlito';
    src: url('../fonts/Carlito/Carlito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Carlito';
    src: url('../fonts/Carlito/Carlito-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Carlito';
    src: url('../fonts/Carlito/Carlito-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}